.sign {
  font-family: "Philosopher";
  /* background-color: var(--bge-4); */
  margin: 0 auto;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign label {
  margin: 0;
  font-size: 24px;
}
.sign input {
  color: var(--grn-1) !important;
  font-size: 20px;
}
.sign form {
  color: var(--grn-1);
  background-color: var(--bge-4);
  border-radius: var(--radius-10);
  padding: 25px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: var(--grn-1) 0 0 15px 15px;
}
.link-div {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-div a {
  text-transform: capitalize;
  color: var(--grn-1);
}
[type="submit"] {
  color: var(--bge-4);
  background-color: var(--grn-1);
  padding-block: 10px;
  border: var(--border-grn-1);
  font-size: 20px;
  transition: var(--transition-1);
}
[type="submit"]:hover {
  color: var(--grn-1);
  background-color: var(--bge-4);
}
