<app-navbar></app-navbar>
<div class="sign container">
  <form class="needs-validation signin-form my-5" (submit)="(null)" action="" novalidate>
    <div class="row">
      <div class="col-md-4">
        <p for="password">Email</p>
      </div>
      <div class="col-md-8">
        <label for="validationCustom01" class="form-label">First name</label>
        <input
          type="email"
          class="form-control"
          id="validationCustom01"
          value="Mark"
          required
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p for="password">Password</p>
      </div>
      <div class="col-md-8">
        <input type="password" name="password" id="password" required />
      </div>
    </div>
    <div class="row">
      <button class="btn w-50 m-auto" type="submit" value="" >Log In</button>
    </div>
  </form>
</div>
<div class="signup-form">
  <form></form>
</div>
<app-footer></app-footer>
