.sign {
  background-color: var(--bge-4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Philosopher";
}
.sign p {
  margin: 0;
  font-size: 24px;
}
.sign input {
  color: var(--grn-1) !important;
  width: 100%;
  max-width: 100%;
  height: 40px;
  font-size: 20px;
}
.sign input:required {
  border: 1px solid #ff0707;
  border-radius: 10px;
}
.sign {
  width: 70%;
}
.sign form {
  color: var(--bge-4);
  background-color: var(--grn-1);
  border-radius: var(--radius-10);
  padding: 30px;
  backdrop-filter: blur(5px);
  box-shadow: var(--grn-1) 0 0 10px 10px;
}
.signin-form .row,
.signup-form .row {
  margin: 25px 0 !important;
  align-items: center;
}
.signin-form .btn,
.signup-form .btn {
  color: var(--grn-1);
  background-color: var(--bge-4);
  padding-block: 10px;
}
