<app-navbar></app-navbar>
<p>usersign works!</p>
<div class="sign container">
  <form class="signin-form py-5" (submit)="(null)" action="">
    <div class="row">
      <div class="col-md-4">
        <p for="password">Email</p>
      </div>
      <div class="col-md-8">
        <input type="email" name="email" id="email" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p for="password">Password</p>
      </div>
      <div class="col-md-8">
        <input type="password" name="password" id="password" />
      </div>
    </div>
    <div class="row">
      <input class="btn w-50 m-auto" type="submit" value="Log In" />
    </div>
  </form>
</div>
<div class="signup-form">
  <form></form>
</div>
<app-footer></app-footer>
