<app-navbar></app-navbar>
<div id="carouselExampleCaptions" class="carousel slide my-5">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
  </div>
  <div class="carousel-inner" style="margin: auto">
    <div class="carousel-item active">
      <div class="mem-box w-100">
        <div class="mem-img" >
          <img src="./assets/images/mem2.jpg" alt="" />
        </div>
        <div class="mem-info">
          <h1>mahmoud elsay</h1>
          <h3>MEAN STACK Developer</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
            pariatur esse sit voluptatum id velit corporis, veritatis, mollitia nulla
            tempore inventore sed consectetur obcaecati non in ea. Ut, fugit harum.
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="mem-box w-100">
        <img src="./assets/images/mem2.jpg" alt="" class="mem-img" />
        <div class="mem-info">
          <h1>mostafa naeam</h1>
          <h3>MEAN STACK Developer</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
            pariatur esse sit voluptatum id velit corporis, veritatis, mollitia nulla
            tempore inventore sed consectetur obcaecati non in ea. Ut, fugit harum.
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="mem-box w-100">
        <img src="./assets/images/mem2.jpg" alt="" class="mem-img" />
        <div class="mem-info">
          <h1>hala hussien</h1>
          <h3>MEAN STACK Developer</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
            pariatur esse sit voluptatum id velit corporis, veritatis, mollitia nulla
            tempore inventore sed consectetur obcaecati non in ea. Ut, fugit harum.
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="mem-box w-100">
        <img src="./assets/images/mem2.jpg" alt="" class="mem-img" />
        <div class="mem-info">
          <h1>hend said</h1>
          <h3>MEAN STACK Developer</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
            pariatur esse sit voluptatum id velit corporis, veritatis, mollitia nulla
            tempore inventore sed consectetur obcaecati non in ea. Ut, fugit harum.
          </p>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="mem-box d-none w-100">
  <img src="./assets/images/mem2.jpg" alt="" class="mem-img" />
  <div class="mem-info">
    <h1>mahmoud elsay</h1>
    <h3>MEAN STACK Developer</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
      pariatur esse sit voluptatum id velit corporis, veritatis, mollitia nulla
      tempore inventore sed consectetur obcaecati non in ea. Ut, fugit harum.
    </p>
  </div>
</div>

<app-footer></app-footer>
