.intro-section {
  padding: 150px 20px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  
}
.text{
  padding: 25px;
  border-radius: 15px;
  color: var(--grn-1);
  border: var(--border-grn-1);
  background-color: #f5efba88;
  width: fit-content;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.card {
  border: 2px solid var(--grn-1);
  border-radius: var(--radius-10);
  background-color: var(--bge-4);
}