<app-navbar></app-navbar>

<div class="header">
  <div class="container p-sm-4 p-md-5">
    <div class="welcome my-5">
      <h1 class="">Welcome To <span>RoboFarm</span></h1>
      <h3>Intelligent Pest Detection and Data Insights for Palm Cultivation</h3>
      <p>
        RoboFarm is a state-of-the-art robotic system designed specifically for
        palm tree pest monitoring and analysis. Equipped with high-resolution
        cameras, environmental sensors, and AI-based image recognition, RoboFarm
        can autonomously navigate palm plantations, detect early signs of pest
        infestations such as red palm weevil or scale insects, and collect vital
        environmental data like temperature, humidity, and soil moisture.
        <br />
        <br />
        Our system integrates seamlessly with a cloud-based platform that
        performs real-time data analysis and presents findings through clear,
        interactive visualizations. This empowers farmers, agricultural
        engineers, and researchers to monitor tree health remotely, track trends
        over time, and make fast, informed decisions to optimize crop protection
        and productivity.
      </p>
    </div>
  </div>
  <br /><br />
  <div class="ellipse"></div>
</div>

<div class="bg-diamond test-sec"></div>

<div class="reviews w-100">
  <h1>Raw Date Preview</h1>
  <img
    class="mx-auto my-4 img-preview"
    src="./assets/images/json-preview.png"
    alt=""
  />
  <h1>Date Visualization</h1>
  <img
    class="mx-auto my-3 img-preview"
    src="./assets/images/map-review.jpg"
    alt=""
  />
  <h1>Date Analysis</h1>
  <img
    class="mx-auto my-3 img-preview"
    src="./assets/images/scan_visualization.png"
    alt=""
  />
</div>
<app-footer></app-footer>
