<app-navbar></app-navbar>

<div class="header">
  <div class="container p-sm-4 p-md-5">
    <div class="welcome my-5">
      <h1 class="">Welcome To <span>RoboFarm</span></h1>
      <h3>Your smart choice to manage your farm/field</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia
        accusamus illo blanditiis voluptatem atque nemo eligendi quis unde
        quaerat tenetur veniam, sunt quasi mollitia recusandae eos nesciunt
        ducimus nostrum. Quos!
        <br />
        <br />
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia
        accusamus illo blanditiis voluptatem atque nemo eligendi quis unde
        quaerat tenetur veniam, sunt quasi mollitia recusandae eos nesciunt
        ducimus nostrum. Quos!
      </p>
    </div>
  </div>
  <br /><br />
  <div class="ellipse"></div>
</div>

<div class="test-sec"></div>

<app-footer></app-footer>
