<div class="footer">
  <div class="container py-4">
    <div class="row justify-content-center">
      <div class="my-4 col-11 col-lg-6 col-xl-4">
        <h1>Relative Links: -</h1>
        <ul>
          <li><a routerLink="">Services</a></li>
          <li><a routerLink="">Consultants</a></li>
          <li><a routerLink="">Agr-Info</a></li>
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="">Contact Us</a></li>
        </ul>
      </div>
      <div class="my-4 col-11 col-lg-6 col-xl-4">
        <h1>Footer Section: -</h1>
      </div>
      <div class="my-4 col-11 col-lg-6 col-xl-4">
        <h1>Footer Section: -</h1>
      </div>
    </div>
  </div>
  <div class="footnote d-flex justify-content-evenly align-items-center">
    <h3 class="d-none d-lg-block">All Copyrights Reserved&copy;</h3>
    <i class="bi bi-flower1"></i>
    <h3 class="d-none d-lg-block"><span>RoboFarm&trade; 2025</span></h3>
    <h3 class="d-block d-lg-none"><span>RoboFarm&trade;</span></h3>
  </div>
</div>
