<div class="footer">
  <div class="container py-4">
    <div class="row justify-content-center">
      <div class="rel-links my-4 col-11 col-lg-6 col-xl-4">
        <h1>Relative Links</h1>
        <ul>
          <li><a routerLink="">Homepage</a></li>
          <li><a routerLink="">Services</a></li>
          <li><a routerLink="">Consultants</a></li>
          <li><a routerLink="">Agr-Info</a></li>
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="">Contact Us</a></li>
        </ul>
      </div>
      <div class="location my-4 col-11 d-lg-none d-xl-block col-xl-5">
        <h1>Our Location</h1>
        <div class="w-100">
          <iframe
            width="100%"
            height="100%"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            src="https://maps.google.com/maps?width=100%25&amp;height=400&amp;hl=en&amp;q=Aswan%20university%20Faculty%20of%20agriculture+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
          ></iframe>
        </div>
      </div>
      <div class="sm-links my-4 col-11 col-lg-6 col-xl-3">
        <h1>Reach Us</h1>
        <ul>
          <li><a class="bi bi-facebook" routerLink=""></a></li>
          <li><a class="bi bi-instagram" routerLink=""></a></li>
          <li><a class="bi bi-linkedin" routerLink=""></a></li>
          <li><a class="bi bi-youtube" routerLink=""></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footnote">
    <div class="container">
      <div class="d-none d-lg-flex">
        <h3 class="">All Copyrights Reserved&copy;</h3>
        <i>
          <img
            src="https://png.pngtree.com/png-vector/20230518/ourmid/pngtree-green-plant-logo-vector-png-image_7101352.png"
            alt="logo here"
          />
        </i>
        <h3 class=""><span>RoboFarm&trade; 2025</span></h3>
      </div>
      <div class="d-flex d-lg-none">
        <i>
          <img
            src="https://png.pngtree.com/png-vector/20230518/ourmid/pngtree-green-plant-logo-vector-png-image_7101352.png"
            alt="logo here"
          />
        </i>
        <h3 class=""><span>RoboFarm&trade; 2025</span></h3>
      </div>
    </div>
  </div>
</div>
