.footer {
  background-color: var(--bge-4);
  font-family: "Philosopher";
  border-top: var(--border-grn-2);
}
.footer .col-11 {
  height: fit-content;
  padding: 0 25px 20px 25px;
  color: var(--grn-1);
  /* border: var(--border-grn-1); */
}
.footer .col-11 h1 {
  font-size: 48px;
}
.footer .rel-links ul {
  width: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 25px;
}
.footer .rel-links ul li {
  width: 45%;
  text-align: center;
  margin-bottom: 10px;
}
.footer .rel-links ul li a {
  width: 100%;
  display: block;
  text-decoration: none;
  color: var(--grn-1);
  font-size: 28px;
  padding: 6px 8px;
  border-radius: var(--radius-5);
  transition: all 0.3s ease-in-out;
}
.footer .rel-links ul li a:hover {
  color: var(--bge-4);
  background-color: var(--grn-1);
}
.footer .sm-links ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  list-style: none;
}
.footer .sm-links ul li {
  color: var(--grn-1);
}
.footer .sm-links ul li a {
  width: fit-content;
  height: fit-content;
  display: block;
  text-decoration: none;
  color: var(--grn-1);
  font-size: 48px;
  padding: 15px 15px;
  transition: all 0.3s ease-in-out;
  display: flex;
}
.bi-facebook {
  border-radius: var(--radius-circle);
}
.bi-instagram {
  border-radius: var(--radius-25);
}
.bi-linkedin {
  border-radius: 7.5px;
}
.bi-youtube {
  border-radius: var(--radius-20);
  padding: 8px 16px !important;
}
.bi-youtube::before {
  transform: translateY(1px);
}
.footer .sm-links ul li a::before {
  scale: 1.25;
  object-position: center;
}
.footer .sm-links ul li a:hover {
  color: var(--bge-4);
  background-color: var(--grn-1);
}

.footer .footnote {
  height: 100px;
  background-color: var(--grn-1);
  color: var(--bge-4);
}
.footer .footnote h3 {
  font-size: 36px;
  margin: 0;
}
.footer .footnote i {
  font-size: 72px;
  margin: 0;
  display: flex;
  align-items: center;
}

@media (max-width: 500px) {
  .footer .col-11 h1 {
    font-size: 40px;
    text-align: center;
  }
  .footer .col-11 ul {
    align-items: center;
  }
  .footer .rel-links ul {
    flex-direction: column;
  }
  .footer .rel-links ul li {
    display: block;
    width: 80%;
  }
  .footer .sm-links ul li a {
    font-size: 10vw;
  }
}
