.footer {
  background-color: var(--bge-4);
  font-family: "Philosopher";
  border-top: var(--border-grn-2);
}
.footer .col-11 {
  height: fit-content;
  padding: 0 25px 20px 25px;
  color: var(--grn-1);
}
.footer .col-11 h1 {
  font-size: 42px;
  margin-bottom: 30px;
}
.footer .rel-links ul {
  width: 100%;
  padding: 0;
  margin-top: 50px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer .rel-links ul li {
  width: 48%;
  text-align: center;
  margin-bottom: 30px;
}
.footer .rel-links ul li a {
  width: 100%;
  display: block;
  text-decoration: none;
  color: var(--grn-1);
  font-size: 28px;
  padding: 6px 8px;
  border-radius: var(--radius-5);
  transition: all 0.3s ease-in-out;
}
.footer .rel-links ul li a:hover {
  color: var(--bge-4);
  background-color: var(--grn-1);
}

.footer .location > div {
  height: 270px;
  border: var(--border-grn-1);
  padding: 7.5px;
  border-radius: 10px;
}
.footer .location iframe {
  border-radius: 5px;
}

.footer .sm-links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  gap: 10px;
}
.footer .sm-links ul li {
  color: var(--grn-1);
}
.footer .sm-links ul li a {
  width: fit-content;
  height: fit-content;
  display: block;
  text-decoration: none;
  color: var(--grn-1);
  font-size: 40px;
  padding: 10px 10px;
  transition: all 0.3s ease-in-out;
  display: flex;
}
.bi-facebook {
  border-radius: var(--radius-circle);
}
.bi-instagram {
  border-radius: 15px;
}
.bi-linkedin {
  border-radius: 5px;
}
.bi-youtube {
  border-radius: 12px;
  padding: 4px 10px !important;
}
.bi-youtube::before {
  transform: translateY(1px);
}
.footer .sm-links ul li a::before {
  scale: 1.25;
  object-position: center;
}
.footer .sm-links ul li a:hover {
  color: var(--bge-4);
  background-color: var(--grn-1);
}

.footer .footnote {
  background-color: var(--grn-1);
}
.footer .footnote .container > div {
  align-items: center;
  height: 80px;
  color: var(--bge-4);
  flex: 0 0 auto;
}
.footer .footnote h3 {
  font-size: 36px;
  margin: 0 !important;
}
.footer .footnote .container .d-lg-flex {
  justify-content: space-between;
}
.footer .footnote .container .d-lg-flex i {
  position: absolute;
  left: calc(50% - 25px);
}
.footer .footnote .container > .d-lg-none {
  justify-content: space-evenly;
}
.footer .footnote i {
  width: 66px;
  padding: 1px;
  margin: 10px 0;
  border-radius: 50%;
  background-color: var(--bge-4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footnote i img {
  width: 100%;
}

@media (max-width: 1199px) {
  .footer .location > div {
    height: 440px;
  }
  .footer .sm-links ul {
    flex-direction: row;
  }
}
@media (max-width: 500px) {
  .footer .col-11 h1 {
    font-size: 40px;
    text-align: center;
  }
  .footer .col-11 ul {
    align-items: center;
  }
  .footer .rel-links ul {
    flex-direction: column;
  }
  .footer .rel-links ul li {
    display: block;
    width: 80%;
  }
  .footer .sm-links ul li a {
    font-size: 10vw;
  }
}
