.sec-1{
  width: 100vw;
  height: 100vb;
}
.sec-1 h1{
  text-align: center;

}
.sec-2{
  width: 100vw;
  height: 100vb;
}
.card{
  width: 80%;
  height: 300px;
  margin: auto;
}
.card img{
height: 100%;
}
